# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment directory
env/

# Ignore virtual environment directory
path/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore build directories
build/
dist/
*.egg-info/

# Ignore configuration files
*.env
.env

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore data files
data/
*.csv
*.h5
